db.hostname=${DB_HOSTNAME}
db.port=${DB_PORT}
db.servicename=${DB_SERVICE}
db.username=APEX_PUBLIC_USER
db.password=${ORDS_PW}
schema.tablespace.default=SYSAUX
schema.tablespace.temp=TEMP
user.tablespace.default=USERS
user.tablespace.temp=TEMP
user.apex.listener.password=${ORDS_PW}
user.apex.restpublic.password=${ORDS_PW}
user.public.password=${ORDS_PW}
sys.user=${SYS_USER}
sys.password=${SYS_PASSWORD}
migrate.apex.rest=false
plsql.gateway.add=true
rest.services.apex.add=true
rest.services.ords.add=true
standalone.mode=false
security.verifySSL=false

